[MASTER]

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.


ignore=migrations


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=10


[DESIGN]

# Maximum number of arguments for function / method
max-args=10
