<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link href="/department_app/static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <span class="head_link"><a href="index.html">Company</a></span>
    <span class="head_link"><a href="departments.html">Departments</a></span>
    <span class="head_link"><a href="employees.html">Employees</a></span>
    <span class="right sign"><a href="registration.html" class="link">Log out</a></span>
    <span class="right username">Username</span>
</header>
<div class="content emp">
    <div class="up_emp">
        <p class="left search">Chose birthday date</p>
        <label><input type="date" class="left search first_date"></label>
        <label><input type="date" class="left search second_date" style="display: none"/></label>
        <label><input type="button" class="left search add_date" value="add date"></label>
        <label><input type="button" class="left search hide_date" value="hide" style="display: none"></label>
        <label><input type="submit" class="left search" value="search"></label>
        <h3 class="add_new_emp"><a href="{{ url_for('page.add_employee') }}" class="add_new_emp">Add new employee</a></h3>
    </div>

    <div class="employee_block" id="1">
        <h2 class="department_title">Jhon Smith</h2>
        <div class="employee_text_block">
            <div class="textcols-item">
                <p class="emp_text_left">Age: <b style="color:#0d6efd">23</b></p>
                <p class="emp_text_left">Birthday: <b style="color:#0d6efd">23.06.1998</b></p>
            </div>
            <div class="textcols-item">
                <p class="emp_text_center">Salary: <b style="color:#0d6efd">1500</b></p>
                <p class="emp_text_center">Position: <b style="color:#0d6efd">manager</b></p>
            </div>
            <div class="textcols-item">
                <p class="emp_text_right">Department: <b style="color:#0d6efd">Department two</b></p>
            </div>
        </div>
        <div class="department_button">
            <p>
                <input type="button" class="edit" data-id="1" value="Edit">
            </p>
            <form action="/delete/1" method="post">
                <p>
                    <input type="button" class="delete" value="Delete">
                </p>
            </form>

        </div>
    </div>

    <div class="employee_block" id="2">
        <h2 class="department_title">Name Surname</h2>
        <div class="employee_text_block">
            <div class="textcols-item">
                <p class="emp_text_left">Age: <b style="color:#0d6efd">23</b></p>
                <p class="emp_text_left">Birthday: <b style="color:#0d6efd">23.06.1998</b></p>
            </div>
            <div class="textcols-item">
                <p class="emp_text_center">Salary: <b style="color:#0d6efd">1500</b></p>
                <p class="emp_text_center">Position: <b style="color:#0d6efd">manager</b></p>
            </div>
            <div class="textcols-item">
                <p class="emp_text_right">Department: <b style="color:#0d6efd">Main department</b></p>
            </div>
        </div>
        <div class="department_button">
            <p>
                <input type="button" class="edit" data-id="2" value="Edit">
            </p>
            <form action="/delete/2" method="post">
                <p>
                    <input type="button" class="delete" value="Delete">
                </p>
            </form>
        </div>
    </div>

    <div class="employee_block" id="3">
        <h2 class="department_title">Name Surname</h2>
        <div class="employee_text_block">
            <div class="textcols-item">
                <p class="emp_text_left">Age: <b style="color:#0d6efd">23</b></p>
                <p class="emp_text_left">Birthday: <b style="color:#0d6efd">23.06.1998</b></p>
            </div>
            <div class="textcols-item">
                <p class="emp_text_center">Salary: <b style="color:#0d6efd">1500</b></p>
                <p class="emp_text_center">Position: <b style="color:#0d6efd">manager</b></p>
            </div>
            <div class="textcols-item">
                <p class="emp_text_right">Department: <b style="color:#0d6efd">Main department</b></p>
            </div>
        </div>
        <div class="department_button">
            <p>
                <input type="button" class="edit" data-id="3" value="Edit">
            </p>
            <form action="/delete/3" method="post">
                <p>
                    <input type="button" class="delete" value="Delete">
                </p>
            </form>
        </div>
    </div>
    <div class="employee_block" id="4">
        <h2 class="department_title">Name Surname</h2>
        <div class="employee_text_block">
            <div class="textcols-item">
                <p class="emp_text_left">Age: <b style="color:#0d6efd">23</b></p>
                <p class="emp_text_left">Birthday: <b style="color:#0d6efd">23.06.1998</b></p>
            </div>
            <div class="textcols-item">
                <p class="emp_text_center">Salary: <b style="color:#0d6efd">1500</b></p>
                <p class="emp_text_center">Position: <b style="color:#0d6efd">manager</b></p>
            </div>
            <div class="textcols-item">
                <p class="emp_text_right">Department: <b style="color:#0d6efd">Main department</b></p>
            </div>
        </div>
        <div class="department_button">
            <p>
                <input type="button" class="edit" data-id="4" value="Edit">
            </p>
            <form action="/delete/4" method="post">
                <p>
                    <input type="button" class="delete" value="Delete">
                </p>
            </form>
        </div>
    </div>

</div>
<div class="b-popup"></div>
<div id="window_emp" style="display: none">
    <div class="x"></div>
    <form>
        <h2 class="ed_department_title"><label id="title_add_emp"><sup>Full name</sup><input type="text"
                                                                                             class="input_name"
                                                                                             placeholder="Name Surname"></label>
        </h2>
        <div class="employee_text_block">
            <div class="ed_textcols-item">
                <p class="emp_text_center"><label>Salary:<input type="number" id="salary" class="emp_inp"></label></p>
                <p class="emp_text_center"><label>Position: <input type="text" id="position" class="emp_inp"></label>
                </p>
            </div>
            <div class="ed_textcols-item">
                <p class="emp_text_right"><label>Department: <select class="">
                    <option value="Department one">Department one</option>
                    <option value="Department two">Department two</option>
                </select></label></p>
                <p class="emp_text_left"><label>Birthday: <input type="date" id="birthday" class="emp_inp_date"></label>
                </p>
            </div>
        </div>
        <input type="submit" class="save" value="Save">
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('.add_date').click(function () {
        $('.second_date').show();
        $('.hide_date').show();
        $('.add_date').hide();
    })
    $('.hide_date').click(function () {
        $('.second_date').hide();
        $('.add_date').show();
        $('.hide_date').hide();
    })

    $('.edit').click(function () {
        const a = $(`#${this.dataset.id}`);
        const title = a.find('.department_title').html();
        let list = [];
        for (let i of a.find('b')) {
            list.push(i.innerHTML);
        }
        $('.input_name').val(title);
        $('#salary').val(list[2]);
        $('#position').val(list[3]);
        $('.title_add_emp').append(title);
        $(`select option[value='${list[4]}']`).prop('selected', true);
        $('div#window_emp').show();
        $('.b-popup').show();
    })
    $('.x').click(function () {
        $('div#window_emp').hide();
        $('.b-popup').hide();
    })
</script>
</body>
</html>