{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block title %}Log in{% endblock %}
<body>
{% block body %}
    <div class="login">
        <h3 class="top_title">Log in</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id="flashes">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="" method="post">
            <p>
                <label for="username">Username
                    <input type="text" class="form" name="username" required>
                </label>
            </p>
            <p>
                <label for="password">Password
                    <input type="password" class="form" name="password" required>
                </label>
            </p>
            <p id="sign">
                Don't have an account? <a href="/register/" id="login_reg"><b>Sign Up</b></a>
            </p>
            <p>
                <input class="sign form" type="submit" id="login_login" value="Log In">
            </p>
        </form>
    </div>
{% endblock %}
</body>
</html>