{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block title %}Sign up{% endblock %}
<body>
{% block body %}
    <div class="login">
        <form action="" method="post">
            <h3 class="top_title">Sign up</h3>
            <p>
                <label for="username">Username
                    <input type="text" class="form" name="username" required>
                </label>
            </p>
            {% with messages = get_flashed_messages(category_filter=["username"]) %}
                    {% for message in messages %}
                        <div id="flashes" style="margin-left: 140px;">{{ message }}</div>
                    {% endfor %}
            {% endwith %}
            <p>
                <label for="email">Email
                    <input type="email" class="form" name="email" required>
                </label>
            </p>
                   {% with messages = get_flashed_messages(category_filter=["email"]) %}
                    {% for message in messages %}
                        <div id="flashes" style="margin-left: 140px;">{{ message }}</div>
                    {% endfor %}
            {% endwith %}
            <p>
                <label for="password">Password
                    <input class="password form" type="password" name="password" required>
                </label>
            </p>
            <p>
                <label for="password">Confirm Password
                    <input class="password-confirmation form" type="password" name="password" required>
                </label>
            </p>
            <p id="wrongPassword">Passwords don't match</p>
            <p id="sign">
                Already a member? <a href="/login/" id="login_reg"><b>Log In</b></a>
            </p>
            <p>
                <input type="submit" id="login_login" class="form" value="Sign up"/>
            </p>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        isPasswordConfirmed = () => {
            return $('input.password').val() === $('input.password-confirmation').val();
        }
        $('input.password-confirmation').blur(function () {
            if (isPasswordConfirmed()) {
                $('p#wrongPassword').hide();
            } else {
                $('p#wrongPassword').show();
            }
        });
        $('input.password').blur(function () {
            if (isPasswordConfirmed()) {
                $('p#wrongPassword').hide();
            }
        });
        $('input.form').click(function () {
            $('#flashes').hide();
        });

    </script>
{% endblock %}
</body>
</html>